html
  head
  body
    form(method='POST')
      input(type='submit' value='POST and write')
      div(style='margin-top: 10px')
        a(href='/write_get') GET and write
    ul
      each user in users
        li= user.name